.my-orders-list .my-orders-order {
    display: flex; 
    gap: 20px;
    padding: 15px; 
    margin: 20px 15px;  
    border: 1px solid gray; 
    align-items: center;
}
.my-orders{
    margin-top: 20px;
} 
.my-orders img {
    width: 50px;
} 
.my-orders-order p {
    width: 50%;
} 
.my-orders-order button{
    padding: 10px 25px; 
    cursor: pointer; 
    border: none;  
    width: 40%;
}
@media(max-width:900px) {
    .my-orders {
        display: grid; 
        grid-template-columns: 1fr 2fr 1fr; 
        font-size: 12px;
    }
    .my-orders-order button {
        font-size: 12px;
    }
}